<!doctype html>
<title>Human Photo and Signature Autoplace</title>

<center>
<h1>Select a file to upload</h1>
<hr>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
{% if filename1 %}
</center>
<center>
	<h3>Photo - </h3>
		<div>
			<img src="{{ url_for('display_image', filename=filename1) }}", height="150px", width="240px">
		</div>
</center>
{% endif %}
{% if filename2 %}
<center>
	<h3>Signature - </h3>
		<div>
			<img src="{{ url_for('display_image', filename=filename2) }}", height="150px", width="240px">
		</div>
</center>
{% endif %}
<center>
	<form method="post" action="/" enctype="multipart/form-data">
		<dl>
			<p>
				<h3>1) Please Upload <b>Photo</b> here -</h3>
				<input type="file" name="file1" autocomplete="off", style="background-color: cyan; width: 280px; height: 22px;" required>
				<br>
				<h3>2) Please Upload <b>Signature</b> here - </h3>
				<input type="file" name="file2" autocomplete="off", style="background-color: cyan; width: 280px; height: 22px;" required>
			</p>
		</dl>
		<p>
			<br>
			<input type="submit" value="Submit" style="width: 180px; height: 28px; background-color: limegreen; border-radius: 32px;">
		</p>
	</form>
</center>